.logo{
	margin: 3px;
}

.title{
	color: Navy;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
}

.grid {
  	margin: 3px;
}

.loginPanel {
  	margin-right: 15px;
}